.dark {
  --bg: #191b1b;
  --font: #e9f8ff;
  --akcent: #2fbdff;
  --akcent-hover: #34a2fc;
  --light-akcent: #8adaff;
  --footer-top: #242627;
}

.light {
  --bg: #effaff;
  --font: #242627;
  --akcent: #00aeff;
  --akcent-hover: #008cff;
  --light-akcent: #006a9b;
  --footer-top: #8a9194;
}

body {
  --footer-bottom: #0b0c0c;
  margin: 0;
  padding: 0;
  position: static;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font);
  overflow-x: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  margin-right: auto;
  text-align: center;
  padding: 1rem;
  position: fixed;
}
header a {
  color: var(--font);
  text-decoration: none;
}
header img {
  border-radius: 50%;
  height: 3rem;
}
header h1 {
  padding: 5px;
  margin: 0;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  header {
    position: absolute;
  }
}
p {
  text-align: center;
  margin: auto;
  width: clamp(45ch, 50%, 75ch);
}
p strong {
  color: var(--light-akcent);
  font-weight: normal;
}

a {
  color: var(--akcent);
}
a:hover {
  color: var(--akcent-hover);
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}
main header {
  position: static;
  margin: auto;
  min-height: 30vh;
  width: 100%;
  padding: 0;
}
main header h2 {
  color: var(--akcent);
  text-align: center;
  font-size: 5rem;
  padding: 2rem 0 0.5rem 0;
  margin: 0;
}
main header p {
  width: 100%;
  padding: 0.5rem 0 2rem 0;
}
main section {
  min-height: 30vh;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1080px) {
  body {
    font-size: 1.5rem;
  }
}
footer {
  margin-top: 3rem;
  width: 100%;
}
footer .top {
  background-color: var(--footer-top);
  text-align: center;
  padding: 10px;
  font-size: 3rem;
}
footer .top .fab, footer .top .fas {
  margin: 10px 1rem;
  padding: 1.5rem;
  text-decoration: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  color: var(--font);
}
footer .top .fab:hover, footer .top .fas:hover {
  color: var(--local);
}
footer .bottom {
  background-color: var(--footer-bottom);
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.switch {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
  z-index: 0;
  margin: 15px 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch input:checked + .slider {
  background-color: var(--font);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--font);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 1rem;
  z-index: 0;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.05rem;
  bottom: 0.05rem;
  background-color: var(--bg);
  border-radius: 50%;
  z-index: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.progress-container {
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
}

.progress-bar {
  height: 5px;
  background: var(--akcent);
  width: 0%;
}
/*# sourceMappingURL=main.css.map */