---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE } from "../config";
import BackButton from "../components/BackButton.astro";
---

<BaseLayout title={`${SITE_TITLE} - About`}>
    <BackButton />
    <div class="about">
        <div class="about-title">About</div>
        <div class="about-comment">
            Here is the text I wrote for the last version of this page and
            didn't have time to replace it.
        </div>
        <p>I am a student living in Krakow and my favorite color is blue.</p>
        <p>
            I am also a programmer. I wrote in many languages. Currently my main
            language is <strong>Python</strong>
            but I wrote a lot in <strong>TypeScript</strong>, <strong
                >C++</strong
            >, <strong>PHP</strong>, <strong>C#</strong> and I recently learned basics
            of
            <strong>Java</strong>. I also wrote mobile applications with <strong
                >Flutter</strong
            > and android games in <strong>Unity</strong> engine (You can download
            some of them <a
                class="link-primary"
                href="https://play.google.com/store/apps/developer?id=Stairs+Adventure+Studio"
                target="_blanck">here</a
            >).
        </p>
        <p>
            I write webpages mainly using the <strong>React</strong> and now I'm
            learning <strong>Astro</strong>. On backend I used
            <strong>Django</strong>, <strong>Express.js</strong> or even <strong
                >Strapi</strong
            > and <strong>FastAPI</strong>. I have some expirers in using
            <strong>Three.js</strong>. I'm also interested in electronics, more
            specifically IoT and home automation.
        </p>
        <p>
            In free time I like go hiking in the mountains, fold origami and
            ride a bicycle. Also, I know how to arrange Rubik's cube.
        </p>
        <p style="text-align: center; margin-bottom: 2rem">
            Currentlly I'm searching for job.
        </p>
        <a class="button" href="mailto:mat8mro@gmail.com">
            <span>Contact me</span>
        </a>
    </div>
</BaseLayout>
