---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getTopRepos } from "../services/github";
import ProjectsList from "../components/ProjectsList.astro";

const repos = await getTopRepos();
---

<BaseLayout>
    <div class="pb-12 mt-5">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold">I'm Mateusz</div>
        <div class="text-3xl py-3 font-bold">Just student for now</div>
        <div class="py-2">
            <text class="text-lg">
                I am a young student from Krakow. I'm interested in computer
                science. This site was created as a kind of portfolio and as a
                repository of projects that I have created or took a part in.
            </text>
        </div>
        <div class="mt-8">
            <a class="btn" href="#" target="_blank">Just some epmty button</a>
        </div>
    </div>

    <div>
        <div class="text-3xl w-full font-bold mb-2">
            My most interesting projects:
        </div>
    </div>

    <ProjectsList repos={repos} />
</BaseLayout>
