---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE } from "../config";
import { getAllRepos } from "../services/github";
import ProjectsList from "../components/ProjectsList.astro";

const repos = await getAllRepos();
---

<BaseLayout title={`${SITE_TITLE} - Projects`}>
    <div>
        <div class="text-3xl w-full font-bold mb-5">
            My projects from github:
        </div>
    </div>

    <ProjectsList repos={repos} />
</BaseLayout>
