---

---

<div class="socials">
  <a
    href="https://www.facebook.com/mateusz.mrowiec.2/"
    target="_blank"
    aria-label="Facebook"
    title="Facebook"
    id="fb"
    ><i class="bi bi-facebook"></i>
  </a>
  <a
    href="https://github.com/jaanonim/"
    target="_blank"
    aria-label="Github"
    title="Github"
    ><i class="bi bi-github"></i>
  </a>
  <a
    href="https://gitlab.com/jaanonim/"
    target="_blank"
    aria-label="Gitlab"
    title="Gitlab"
    ><i class="bi bi-gitlab"></i>
  </a>
  <a
    href="mailto:mat8mro@gmail.com"
    target="_blank"
    aria-label="Email"
    title="Email"
    ><i class="bi bi-envelope"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/mateusz-mrowiec-450ab4273"
    target="_blank"
    aria-label="LinkedIn"
    title="LinkedIn"
    ><i class="bi bi-linkedin"></i>
  </a>
</div>

<style lang="sass">
  @use '../styles/colors.sass'

  $bootstrap-icons-font-dir: "bootstrap-icons/font/fonts"
  @import "bootstrap-icons/font/bootstrap-icons"

  .socials
    width: 100%
    text-align: center
    margin-bottom: 2rem
    display: flex
    justify-content: center
    flex-wrap: wrap

    & a
      display: block
      color: colors.$font-color
      text-decoration: none
      margin: 1rem
      transition: transform 0.2s
      font-size: 2.5rem

      &:hover
        transform: scale(1.1)
        background: -webkit-linear-gradient(135deg, colors.$font-color, colors.$primary)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
</style>
