---
---

<div class="socials">
    <a
        href="https://www.facebook.com/mateusz.mrowiec.2/"
        target="_blank"
        aria-label="Facebook"
        title="Facebook"
        id="fb"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            style="transform: ;msFilter:;"
        >
            <linearGradient id="gradient1" gradientTransform="rotate(45)">
                <stop class="socials-gradient-start" offset="0%"></stop>
                <stop class="socials-gradient-start" offset="30%"></stop>
                <stop class="socials-gradient-stop" offset="100%"></stop>
            </linearGradient>
            <path
                style="fill: url(#gradient1)"
                d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"
            ></path></svg
        >
    </a>
    <a
        href="https://github.com/jaanonim/"
        target="_blank"
        aria-label="Github"
        title="Github"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
        >
            <linearGradient id="gradient2" gradientTransform="rotate(45)">
                <stop class="socials-gradient-start" offset="0%"></stop>
                <stop class="socials-gradient-start" offset="30%"></stop>
                <stop class="socials-gradient-stop" offset="100%"></stop>
            </linearGradient>
            <path
                style="fill: url(#gradient2)"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path>
        </svg>
    </a>
    <a
        href="mailto:mat8mro@gmail.com"
        target="_blank"
        aria-label="Email"
        title="Email"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill-rule="evenodd"
            clip-rule="evenodd"
            style="fill: currentColor;transform: ;msFilter:;"
            ><linearGradient id="gradient3" gradientTransform="rotate(45)">
                <stop class="socials-gradient-start" offset="0%"></stop>
                <stop class="socials-gradient-start" offset="30%"></stop>
                <stop class="socials-gradient-stop" offset="100%"></stop>
            </linearGradient>
            <path
                style="fill: url(#gradient3)"
                d="M22.288 21h-20.576c-.945 0-1.712-.767-1.712-1.712v-13.576c0-.945.767-1.712 1.712-1.712h20.576c.945 0 1.712.767 1.712 1.712v13.576c0 .945-.767 1.712-1.712 1.712zm-10.288-6.086l-9.342-6.483-.02 11.569h18.684v-11.569l-9.322 6.483zm8.869-9.914h-17.789l8.92 6.229s6.252-4.406 8.869-6.229z"
            ></path></svg
        >
    </a>
    <a
        href="https://play.google.com/store/apps/developer?id=Stairs+Adventure+Studio"
        target="_blank"
        aria-label="Google Play"
        title="Google Play"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill-rule="evenodd"
            clip-rule="evenodd"
            style="fill: currentColor;transform: ;msFilter:;"
            ><linearGradient id="gradient4" gradientTransform="rotate(45)">
                <stop class="socials-gradient-start" offset="0%"></stop>
                <stop class="socials-gradient-start" offset="30%"></stop>
                <stop class="socials-gradient-stop" offset="100%"></stop>
            </linearGradient>
            <path
                style="fill: url(#gradient4)"
                d="M1.571 23.664l10.531-10.501 3.712 3.701-12.519 6.941c-.476.264-1.059.26-1.532-.011l-.192-.13zm9.469-11.56l-10.04 10.011v-20.022l10.04 10.011zm6.274-4.137l4.905 2.719c.482.268.781.77.781 1.314s-.299 1.046-.781 1.314l-5.039 2.793-4.015-4.003 4.149-4.137zm-15.854-7.534c.09-.087.191-.163.303-.227.473-.271 1.056-.275 1.532-.011l12.653 7.015-3.846 3.835-10.642-10.612z"
            ></path></svg
        >
    </a>
    <a
        href="https://www.linkedin.com/in/mateusz-mrowiec-450ab4273"
        target="_blank"
        aria-label="LinkedIn"
        title="Google Play"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            style="fill: currentColor;transform: ;msFilter:;"
            viewBox="0 0 448 512"
            ><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <linearGradient id="gradient5" gradientTransform="rotate(45)">
                <stop class="socials-gradient-start" offset="0%"></stop>
                <stop class="socials-gradient-start" offset="30%"></stop>
                <stop class="socials-gradient-stop" offset="100%"></stop>
            </linearGradient>
            <path
                style="fill: url(#gradient5)"
                d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
            ></path></svg
        >
    </a>
</div>

<style lang="sass">
    @use '../styles/colors.sass'

    .socials
        width: 100%
        text-align: center
        margin-bottom: 2rem
        display: flex
        justify-content: center
        flex-wrap: wrap

        & a
            display: block
            color: colors.$font-color
            text-decoration: none
            margin: 1rem
            width: 2.5rem
            height: 2.5rem
            transition: all 0.2s

            &:hover
                transform: scale(1.1)

            & svg
                width: 2.5rem

        & a:hover .socials-gradient-start
            stop-color: colors.$primary

        &-gradient
            &-start
                transition: all 0.3s
                stop-color: colors.$font-color
            &-stop
                stop-color: colors.$font-color
</style>
