---
import ModeSwitch from "../components/ModeSwitch.astro";
import { Icon } from "astro-icon";
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="dark">
        <header>
            <a href="/">
                <img src="assets/img/profile.png" alt="profile" />
                <h1>Jaanonim</h1>
            </a>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <div class="top">
                <a
                    href="https://www.facebook.com/mateusz.mrowiec.2/"
                    target="_blanck"
                    class="icon"
                    style="--local: #3B5998"
                >
                    <Icon name="ic:baseline-facebook" />
                </a>

                <a
                    href="mailto:mat8mro@gmail.com"
                    target="_blanck"
                    class="icon"
                    style="--local: #cb2027"
                >
                    <Icon name="ic:round-email" />
                </a>

                <a
                    href="https://github.com/jaanonim/"
                    target="_blanck"
                    class="icon"
                    style="--local: #7C2FA0"
                >
                    <Icon name="mdi:github" />
                </a>

                <a
                    href="https://play.google.com/store/apps/developer?id=Stairs+Adventure+Studio"
                    target="_blanck"
                    class="icon"
                    style="--local: #30F281"
                >
                    <Icon name="ci:play-store" />
                </a>
            </div>
            <div class="bottom">
                Created with <span style="color: red">❤</span> by Jaanonim <br
                /> &copy; 2021 - 2023
            </div>
        </footer>
        <ModeSwitch />
    </body>
</html>

<style is:global lang="sass">
    .dark
        --bg: #191b1b
        --font: #e9f8ff
        --akcent: #2fbdff
        --akcent-hover: #34a2fc
        --light-akcent: #8adaff
        --footer-top: #242627

    .light
        --bg: #effaff
        --font: #242627
        --akcent: #00aeff
        --akcent-hover: #008cff
        --light-akcent: #006a9b
        --footer-top: #8a9194

    body

        --footer-bottom: #0b0c0c

        margin: 0
        padding: 0
        position: static
        width: 100vw
        min-height: 100vh
        background-color: var(--bg)
        font-family: Arial, Helvetica, sans-serif
        color: var(--font)
        overflow-x: hidden
        -webkit-transition: 0.4s
        transition: 0.4s
        font-size: 2rem

        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none

    header
        margin-right: auto
        text-align: center
        padding: 1rem
        position: fixed

        a
            color: var(--font)
            text-decoration: none

        img
            border-radius: 50%
            height: 3rem

        h1
            padding: 5px
            margin: 0
            font-size: 1rem

    @media screen and ( max-width: 800px )
        header
            position: absolute

    p
        text-align: center
        margin: auto
        width: clamp(45ch, 50%, 75ch)

        strong
            color: var(--light-akcent)
            font-weight: normal

    a
        color: var(--akcent)

        &:hover
            color: var(--akcent-hover)

    main
        margin-left: auto
        margin-right: auto
        width: 80vw

        header
            position: static
            margin: auto
            min-height: 30vh
            width: 100%
            padding: 0

            h2
                color: var(--akcent)
                text-align: center
                font-size: 5rem
                padding: 2rem 0 0.5rem 0
                margin: 0
            p
                width: 100%
                padding: 0.5rem 0 2rem 0

        section
            min-height: 30vh
            padding: 10px
            display: flex
            flex-direction: row
            flex-wrap: wrap
            align-items: center

    @media screen and ( max-width: 1080px )
        body
            font-size: 1.5rem

    footer
        margin-top: 3rem
        width: 100%

        .top
            background-color: var(--footer-top)
            text-align: center
            padding: 10px

            font-size: 3rem
            .icon
                text-decoration: none
                color: var(--font)
                &:hover
                    color: var(--local)

        .bottom
            background-color: var(--footer-bottom)
            color: #fff
            text-align: center
            padding: 10px
            font-size: 1rem

    ::-webkit-scrollbar
        width: 10px

    ::-webkit-scrollbar-track
        background: rgba(0, 0, 0, 0)

    ::-webkit-scrollbar-thumb
        background: #888
        border-radius: 5px

    ::-webkit-scrollbar-thumb:hover
        background: #555

    .progress-container
        width: 100%
        height: 5px
        position: fixed
        top: 0

    .progress-bar
        height: 5px
        background: var(--akcent)
        width: 0%
</style>

<style lang="css">
    [astro-icon] {
        width: 5rem;
        margin: 10px 1rem;
        padding: 1.5rem;
        border-radius: 50%;
    }
</style>
